map and filter
- map is a builtin function in python that helps us to create a iterator automatically and then output the values based on that

In [2]:
def times2(num):
    return num*2

In [3]:
times2(5)

10

In [4]:
seq = [1, 2, 3, 4, 5]

In [5]:
map(times2, seq)

In [6]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [7]:
# In this map, we dont want to write the separate big function for using it so, what we do instead is that we use lambda functions for this

lambda function or anonymous function
- Here, we don't want to define an entire function rather things become much simpler and with the information that we need.

In [8]:
test = lambda var: var*2

In [9]:
test(3)

6

In [10]:
list(map(lambda var: var*3, seq))

[3, 6, 9, 12, 15]

Filter Function
- Similar structure like Map but instead of mapping a function to every element in a sequence, we will filter out elements from a sequence
- Uses some sort of function to return a boolean value then it gets passed into an iterable object and when you call a list on it, it only returns the values where the statement happened to be true.

In [12]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

Methods
- Essential just calls we can make off an object that will affect the object or return a result in some manner

In [15]:
s = 'Hello my name is Mojo'

In [18]:
s.lower()   # Converts all chars to lowercase

'hello my name is mojo'

In [ ]:
s.upper()   # Converts all chars to uppercase

'HELLO MY NAME IS MOJO'

In [22]:
s.split()   # Splits an string on whitespace of that string into a list of multiple strings
# The split based on whitespace is default else we can specify on what basis we want to split such as in next code cell

['Hello', 'my', 'name', 'is', 'Mojo']

In [23]:
s.split('o')

['Hell', ' my name is M', 'j', '']

In [24]:
tweet = 'Go Go! Make the best use of resources....      #Sports'

In [25]:
tweet.split()

['Go', 'Go!', 'Make', 'the', 'best', 'use', 'of', 'resources....', '#Sports']

In [28]:
tweet.split('#')[1]    # As, the .split() returns a list so we can apply all the list based functions in it.

'Sports'

In [29]:
d1 = {
    'k1' : 1,
    'k2' : 2
}

In [30]:
d1

{'k1': 1, 'k2': 2}

In [33]:
d1.keys()    # returns the keys present in the dictionary

dict_keys(['k1', 'k2'])

In [35]:
d1.items()    # Returns keys and values

dict_items([('k1', 1), ('k2', 2)])

In [36]:
d1.values()   # Returns the values in a dictionary

dict_values([1, 2])

In [42]:
lst = [1, 2, 3, 4, 5]

In [43]:
lst.pop()    # Remove and return item at index (default last).

5

In [44]:
lst

[1, 2, 3, 4]

In [45]:
item = lst.pop()

In [46]:
lst

[1, 2, 3]

In [47]:
item

4

In [48]:
lst

[1, 2, 3]

In [49]:
first = lst.pop(0)    # This pops the element present in first index and keeps everything same....We can mention the index we need to pop

In [50]:
lst

[2, 3]

In [51]:
lst.append('new item')

In [52]:
lst

[2, 3, 'new item']

In [54]:
# In Operator - To check if something is inside a list or not

In [55]:
'x' in [1, 2, 3, 4, 5]

False

In [56]:
'x' in [1, 2, 'x', 4, 6]

True