# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [2]:
import pandas as pd
import numpy as np

In [3]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {
        'a' : 10,
        'b' : 20,
        'c' : 30
    }

In [4]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
# A series can hold almost any type of data unlike the Numpy arrays
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [12]:
# We can also pass built in functions in Series
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [13]:
ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])

In [14]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['USA', 'Germany','India','Japan'])

In [16]:
ser2

USA        1
Germany    2
India      5
Japan      4
dtype: int64

In [17]:
ser1['USA']

np.int64(1)

In [18]:
ser3 = pd.Series(data=labels)

In [19]:
ser3

0    a
1    b
2    c
dtype: object

In [20]:
ser3[2]

'c'

In [21]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [22]:
ser2

USA        1
Germany    2
India      5
Japan      4
dtype: int64

In [23]:
ser1 + ser2

Germany    4.0
India      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64